<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | ToDoList</title>
    <%- include("../components/head.html") %>
</head>
<body>
    <%- include("../components/menu.html") %>

    <div class="container-info mx-auto">
        <h2 class="title">Acerca De Aplicación ToDoList</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam eveniet sequi, maxime debitis deserunt ullam veritatis commodi dolorum rerum odio accusantium dolorem molestias, neque amet quas aliquam nam enim mollitia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus laborum sunt dolores, doloribus, illum veritatis blanditiis ea nemo at iusto cumque odit repellendus, dolorem nobis facere perspiciatis? Beatae, optio doloremque!</p>
        <br/>
        <h3 class="title">Equipo</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo amet dolorum magnam rem beatae temporibus ut voluptatibus id animi praesentium explicabo ipsam laudantium consequatur molestiae maiores, cupiditate qui blanditiis. Veritatis?</p>
        <br/>
        <h3 class="title">Historia</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo amet dolorum magnam rem beatae temporibus ut voluptatibus id animi praesentium explicabo ipsam laudantium consequatur molestiae maiores, cupiditate qui blanditiis. Veritatis?</p>
        <br/>
        <h3 class="title">Involúcrate</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo amet dolorum magnam rem beatae temporibus ut voluptatibus id animi praesentium explicabo ipsam laudantium consequatur molestiae maiores, cupiditate qui blanditiis. Veritatis?</p>
    </div>
</body>
</html>