<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | ToDoList</title>
    <%- include("../components/head.html") %>
</head>
<body>
    <%- include("../components/menu.html") %>

    <div class="container-info mx-auto">
        <h1 class="title">Aplicación ToDoList</h1>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur incidunt doloribus blanditiis sint quo, quis molestiae molestias quam ab. Quisquam omnis mollitia blanditiis eum? Vitae iure laboriosam eveniet. Totam, quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex placeat veritatis enim ducimus inventore qui id magni fugit iure modi quisquam, hic at fuga excepturi molestiae quaerat rerum aut voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint necessitatibus obcaecati quasi autem aut eaque neque fugiat tempora voluptatibus? Laborum dicta excepturi ea explicabo sit optio dolor repellendus alias tempora.</p>
        <a class="btn button" href="/registro">Regístrate</a>
        <a class="btn button" href="/ingreso">Inicia Sesión</a>
    </div>
</body>
</html>