<nav class="navbar navbar-expand-lg navbar-dark menu">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ToDoList App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link element-menu" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link element-menu" href="/acerca_de">Acerca de</a>
                </li>
            </ul>
            <span class="navbar-text">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <% if(user) { %>
                        <li class="nav-item">
                            <a class="nav-link element-menu" href="/tareas">Mis tareas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link element-menu" href="/grupos">Mis grupos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link element-menu" href="/users/logout">Cerrar Sesión</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link element-menu" href="/ingreso">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link element-menu" href="/registro">Registrarse</a>
                        </li>
                    <% } %>
                </ul>
            </span>
        </div>
    </div>
</nav>